/*
    * Import Style
*/
@import './reset.css';


/*
    * Body Style
*/
body {
    font-family: 'Open Sans', arial, sans-serif;
}

p {
    font-size: 1rem;
    line-height: 1.75;
}

h1, h2 {
    font-family: 'Lobster';
    color: #eb4a4b;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

/*
    * Homepage Style
*/
.homepage {
    width: 600px;
    margin: 6.25rem auto 0 auto;
    text-align: center;
}

/*  
    * Hero Style
*/
.hero img {
    width: 100%;
}

/*
    * Aside Style
*/