/*
    * Import Style
*/
@import './reset.css';


/*
    * Body Style
*/
body {
    font-family: 'Open Sans', arial, sans-serif;
    background-image: url('../image/space-background.png');
    background-position: center;
    background-attachment: fixed;
}

/*
    * Section Style
*/

section:nth-child(even) {
    background-color: white;
}

section:nth-child(odd) {
    background-color: lightgray;
}

p {
    font-size: 1rem;
    line-height: 1.75;
    padding: 35px 40px 0 40px;
}

h1, h2 {
    font-family: 'Lobster';
    color: #eb4a4b;
    padding: 40px 0 0 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

/*
    * Homepage Style
*/
.homepage {
    width: 600px;
    margin: 6.25rem auto 0 auto;
    text-align: center;
    margin-bottom: 1.75rem;
}

/*  
    * Hero Style
*/
.hero {
    line-height: 0;
}
.hero img {
    width: 100%;
    height: 450px;
    border-radius: 15px 15px 0 0;
}

/*
    * Section Syle
*/
.intro__paragraph--paddingBottom {
    padding-bottom: 2.5rem;
}

.contact__time {
    padding: 25px 5px 5px 5px;
}

.contact__place {
    padding: 5px;
}

.contact__address{
    text-align: center;
    padding: 5px;
    line-height: 1;
}

.contact__email {
    padding: 5px;
    padding-bottom: 2.5rem;
}

/*
    * Aside Style
*/

.intro__image--right {
    float: right;
    padding: 2rem;
}

.contact__image--left {
    float: left;
    padding: 2rem;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*
    * Media Query
*/

@media only screen and (max-width: 600px) {
    .homepage {
        margin: 0;
        width: 100%;
    }
    .hero img {
        width: 100%;
        border-radius: 0;
    }
    .intro__image--right, .contact__image--left {
        float: inherit;
    }
    .contact__map {
        width: 100%;
    }
    p {
        padding: 10px 40px 25px 40px;
    }
}